* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-weight: 700;
}

main {
    min-width: 370px;
    margin: 2rem auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}
